.action {
  background: pink;
  margin: 5px 0px;
}

.character {
  background: aquamarine;
  width: 40%;
  margin: 5px auto;
  text-transform: uppercase;
}

.dialog {
  background: cyan;
  width: 65%;
  margin: 5px auto;
}

.heading {
  background: lightgray;
  margin: 5px 0px;
  text-transform: uppercase;
  font-weight: bold;
}

.parenthetical {
  background: coral;
}

.transition {
  background: blanchedalmond;
  text-transform: uppercase;
}
